<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>异常流量检测</title>
</head>

<body bgcolor="#fff0f5">

<header>
<h1 style="color: darkgray">异常流量检测</h1>
</header>


<section>
<form action="/topk" method="post">
    <p>
    <h1>阈值φ</h1>
    <input type="text" name="frequency">
    </p>

    <p>
    <h1>阈值Φ</h1>
    <input type="text" name="packet">
    </p>
    
    <p>
        <input type="submit" value="提交">
    </p>
</form>



</section>







<footer>
zhaoxizxzx
</footer>

<style>
header {
    background-color:black;
    color:darkgrey;
    text-align:center;
    padding:5px;
}

section {
    text-align: center;
    padding:175px;
}

footer {
    background-color:black;
    color:darkgrey;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>


</body>

</html>